<br>
<h1 align="center">Sign up for <em>MessageMe</em></h1>
<br>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <button class="ui orange button">
          Signup
        </button>
      </div>
    </div>
    <div class="middle aligned column">
      <h5 align="center">Already signed up?</h5>
      <div class="ui orange big button">
        <i class="signup icon"></i>
        Log in
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
